@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Work+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.scroll-padding {
  height: 100vh;
}

.more-content {
  height: 100vh;
  background: black;
}

.panel {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border: 2px solid red; */
}

.panel.one {
  justify-content: center;
  align-items: center;
}

.panel.two {
  font-size: 1rem;
  /* border: 2px solid blue; */
}

/* Tablets */

#tablets-svg {
  max-width: 750px;
  display: block;
  /* border: 2px solid black; */
}

#tablet-title {
  font-size: 1.2rem;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  /* border: 2px solid red; */
}

#tablet-text {
  font-size: 1rem;
  padding: 1.5em 0;
  /* border: 2px solid red; */
}

@media (min-width: 400px) {
  #tablet-title {
    font-size: 1.5rem;
  }

  #tablet-text {
    font-size: 1.25rem;
  }
}

#word-wrapper {
  display: inline-block;
  position: relative;
  /* border: 1px solid black; */
}

#tablet-text span {
  display: inline-block;
}

#tablet-text .word {
  position: absolute;
  left: 0;
}

/* Don't break words when there's enough screen width */
@media (min-width: 310px) {
  #tablet-text .word {
    white-space: nowrap;
  }
}

/* Bottle */

#bottle-svg {
  display: block;
  /* border: 2px solid black; */
}

@media (min-width: 650px) {
  #bottle-svg {
    height: 90%;
    align-self: center;
  }
}

.right {
  position: relative;
  /* border: 2px solid red; */
}

.right section {
  position: absolute;
}

/* Button */

.animation-cta {
  text-decoration: none;
  font-size: 1rem;
  padding: 0.8em 0.2em;
  background: #296f7f;
  color: white;
  text-align: center;
  max-width: 240px;
  width: 90%;
  display: inline-block;
  align-self: center;
}

/* Mobile styles */

@media (max-width: 649px) {
  .right section {
    padding-bottom: 2.5em;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .right h3 {
    margin: 0.25em;
  }

  .right p {
    margin: 0.25em;
  }

  .left {
    flex: 0 1 0;
  }

  .right {
    flex: 1 1 33%;
  }

  .middle {
    flex: 1 1 66%;
  }
}

/* Desktop styles */

@media (min-width: 650px) {
  .panel.two {
    flex-direction: row;
    text-align: left;
  }

  .left {
    flex: 1 1 0;
  }

  .right {
    flex: 1 1 0;
  }

  .middle {
    flex: 0 1 auto;
  }

  .right section {
    max-width: 400px;
    top: 25%;
    font-size: 1.25rem;
  }

  .animation-cta {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
  }
}
